.wrapper-grid {
    display: flex;
    flex-wrap: wrap;
}

.wrapper-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
}

.posts_submit {
    margin-left: 10px;
    background-color: brown;
   color: white; 
}